
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-{{modalSize}}" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h3 class="modal-title" id="{{id}}Label">{{title}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        
      <div class="modal-body content-{{id}}">
        {{{content}}}
      </div>
      
      <div class="modal-footer">
        <a href="tel:=+447743499249" class="contact">
          <span class="sr-only">Mobile</span>
          <div class="icon">{{> icons/mobile}}</div>
          <span>07743499249</span>
        </a>
        <a href="mailto:mindevieras@gmail.com" class="contact">
          <span class="sr-only">Email</span>
          <div class="icon">{{> icons/envelope}}</div>
          <span>mindevieras@gmail.com</span>
        </a>
      </div>
    
    </div>
  </div>
</div>
